<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:padding="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of renters</title>
    <link rel="stylesheet" type="text/css" href="/../../myCSS.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/cars/list">Cars</a>
        <a href="/contracts/list">Contracts</a>
        <a class="active" href="/renters/list">Renters</a>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">Renter list</h1>
        <p class="lead">This is the full list of all renters who is/has been a customer of Kailua Car Rental</p>
    </div>
    <div style="padding: 10px">
        <a th:href="@{/renters/create}">
            <button class="btn btn-success float-right" style="padding: 30px">Create renter</button>
        </a>
    </div>
    <div class="container">
        <h2>Search</h2>
        <p>Type something in the input field to search the table for first names, last names or reg. number:</p>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
    </div>
    <table id="myTable" class="table">
        <thead class="thead-light">
        <tr>
            <th>Renter ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Driver since</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tr th:each = "renter: ${renters}">
            <td th:text = "${renter.id}" />
            <td th:text = "${renter.first_name}" />
            <td th:text = "${renter.last_name}" />
            <td th:text = "${renter.telephone}" />
            <td th:text = "${renter.email}" />
            <td th:text = "${renter.driver_since}" />
            <td>
                <a th:href="@{'/renters'}">
                    <button>View renter</button>
                </a>
            </td>
            <td>
                <a th:href="@{'/renters'}">
                    <button>Edit renter</button>
                </a>
            </td>
        </tr>
    </table>
    <script>
        $("#myInput").on("keyup", function() {
            const value = $(this).val().toLowerCase();
            console.log("value:", value)
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    </script>
</body>
</html>