/* Add a black background color to the top navigation */
.topnav {
    background-color: #34495e;
    overflow: hidden;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #95a5a6;
    color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #2980b9;
    color: white;
}

table.fancyTable td {
    padding: 10px;
}

.createButton {
    padding: 10px 30px;
    margin-bottom: 40px;
    margin-left: 5px;
    width: 150px;
    height: 40px;
}

.backButton {
    padding: 10px 30px;
    margin-left: 5px;
    margin-top: 5px;
    width: 150px;
    height: 40px;
}

.addButton {
    margin-left: 5px;
    margin-top: 5px;
}

.createButtonDiv {
    padding: 10px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.tableButton {
    width: 80px;
}

.truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 70px;
}
