<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of cars</title>
    <link rel="stylesheet" type="text/css" href="/../../myCSS.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/cars/list">Cars</a>
        <a href="/contracts/list">Contracts</a>
        <a href="/renters/list">Renters</a>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">Car list</h1>
        <p class="lead">This is the full list of all cars which Kailua Car Rental owns</p>
    </div>

    <div class="createButtonDiv">
        <a th:href="@{/cars/create}">
            <button class="btn btn-success float-left createButton">Create car</button>
        </a>
    </div>
    <table id="myTable" class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Reg. number</th>
                <th>First reg.</th>
                <th>Fuel type</th>
                <th>Odometer</th>
                <th>Car type</th>
                <th>Gear type</th>
                <th>Air con.</th>
                <th>CCM</th>
                <th>HP</th>
                <th>Seat type</th>
                <th>Seat num.</th>
                <th>CC</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tr th:each = "car: ${cars}">
            <td class="truncate" th:text = "${car.id}" />
            <td class="truncate" th:text = "${car.brand}" />
            <td class="truncate" th:text = "${car.model}" />
            <td class="truncate" th:text = "${car.registration_number}" />
            <td class="truncate" th:text = "${car.first_registration}" />
            <td class="truncate" th:text = "${car.fuel_type}" />
            <td class="truncate" th:text = "${car.odometer}" />
            <td class="truncate" th:text = "${car.car_type}" />
            <td class="truncate" th:text = "${car.gear_type}" />
            <td class="truncate" th:text = "${car.air_conditioning}" />
            <td class="truncate" th:text = "${car.ccm}" />
            <td class="truncate" th:text = "${car.hp}" />
            <td class="truncate" th:text = "${car.seat_type}" />
            <td class="truncate" th:text = "${car.seat_number}" />
            <td class="truncate" th:text = "${car.cruise_control}" />
            <td>
                <a th:href="@{'/cars/view-one/'+${car.id}}">
                    <button class="btn btn-secondary tableButton">View</button>
                </a>
            </td>
            <td>
                <a th:href="@{'/cars/edit/'+${car.id}}">
                    <button class="btn btn-secondary tableButton">Edit</button>
                </a>
            </td>
            <td>
                <a th:href="@{'/cars/delete/'+${car.id}}">
                    <button class="btn btn-secondary tableButton">Delete</button>
                </a>
            </td>
        </tr>
    </table>
</body>
</html>