<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../myCSS.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Edit Contract</title>
</head>
<body>
<div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="/cars/list">Cars</a>
    <a href="/contracts/list">Contracts</a>
    <a href="/renters/list">Renters</a>
</div>
<div class="jumbotron">
    <h1 class="display-4">Edit specific contract</h1>
    <p class="lead"></p>
</div>
<form action="/contracts/update" method="post">
    <table class="fancyTable">
        <tr>
            <td>End date</td>
            <td>
                <input type="text" name="end_date" th:value="${contract.end_date}">
            </td>
        </tr>
        <tr>
            <td>Max KM</td>
            <td>
                <input type="text" name="max_km" th:value="${contract.max_km}">
            </td>
        </tr>
        <tr>
            <td>
                <input id="id" name="id" th:value="${contract.id}" type="hidden"/>
            </td>
        </tr>
    </table>
    <input type="submit" value="Save">
</form>
</body>
</html>