<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of contracts</title>
    <link rel="stylesheet" type="text/css" href="/../../myCSS.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/cars/list">Cars</a>
        <a class="active" href="/contracts/list">Contracts</a>
        <a href="/renters/list">Renters</a>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">Contract list</h1>
        <p class="lead">This is the full list of all contracts with Kailua Car Rental</p>
    </div>
    <div style="padding: 10px">
        <a th:href="@{/contracts/create}">
            <button class="btn btn-success float-right" style="padding: 30px; background-color: dodgerblue">Create contract</button>
        </a>
    </div>
    <div class="container">
        <h2>Search</h2>
        <p>Type something in the input field to search the table for start date, end date, car model or brand:</p>
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <br>
    </div>
    <table id="myTable"class="table">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Car brand</th>
                <th>Car model</th>
                <th>Start Date</th>
                <th>End date</th>
                <th>Start KM</th>
                <th>Max KM</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each = "contract: ${contracts}">
                <td th:text = "${contract.id}" />
                <td th:text = "${contract.car_brand}" />
                <td th:text = "${contract.car_model}" />
                <td th:text = "${contract.start_date}" />
                <td th:text = "${contract.end_date}" />
                <td th:text = "${contract.start_km}" />
                <td th:text = "${contract.max_km}" />
                <td>
                    <a th:href="@{'/contracts/view-one/'+${contract.id}}">
                        <button>View contract</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{'/contracts/edit/'+${contract.id}}">
                        <button>Edit contract</button>
                    </a>
                </td>
                <td>
                    <a th:href="@{'/contracts/delete/'+${contract.id}}">
                        <button>Delete contract</button>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        $("#myInput").on("keyup", function() {
            const value = $(this).val().toLowerCase();
            console.log("value:", value)
            $("#myTable tbody tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    </script>
</body>
</html>